<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="header" class="header"></div>
    <h1 class="title">AuthGate</h1>
    <button id="menutoggle" class="menu-button">Menu</button>
    
    <div class="slide-in from-left">
        <div class="slide-in-content">
            <button id="usertoggle" class="menu-button-a menu-button">Users</button>
            <button id="keytoggle" class="menu-button-b menu-button">Keys</button>
        </div>
    </div>

    <div id="users-container" class="users">
        <h1 class="title centered-text">Users</h1>
        <div class="form-container">
            <form action="/api/register/admin" method="post">
                <div class="input-row">
                    <input class="input-field" type="text" name="username" placeholder="Username">
                    <input class="input-field" type="text" name="email" placeholder="Email">
                    <input class="input-field" type="text" name="password" placeholder="Password">
                </div>
                <div class="input-row">
                    <input class="input-field" type="text" name="key" placeholder="Key">
                    <input class="input-field" type="text" name="role" placeholder="Role">
                    <button class="submit-button" type="submit">Add User</button>
                </div>
            </form>  
            <form action="/api/users/delExpired" method="post">
                <button class="submit-button" type="submit">Delete Expired Users</button>
            </form>  
            <form action="/api/users/delAll" method="post">
                <button class="submit-button" type="submit">Delete All Users</button>
            </form> 
        </div>        
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Registered</th>
                    <th>LastLogin</th>
                    <th>UID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              <% users.forEach((user) => { %>
                  <tr>
                      <td><%= user.username %></td>
                      <td><%= user.email %></td>
                      <td><%= new Date(user.registered).toDateString() %></td>
                      <td><%= new Date(user.lastLogin).toDateString() %></td>
                      <td><%= user.id %></td>
                      <td>
                        <input type="hidden" name="userIdStorage" value="<%= user._id %>">
                        <button name="moreInfo" class="more-info" data-user-id="<%= user._id %>">More Info</button>
                    </td>                    
                  </tr>
              <% }); %>
          </tbody>
        </table>
    </div>

    <div id="keys-container" class="users">
        <h1 class="title centered-text">Keys</h1>
    
        <div class="buttons-container">
            <form id="key-form">
                <div class="input-row">
                    <input id="pattern" class="input-field" type="text" name="pattern" placeholder="Pattern">
                    <input id="duration" class="input-field" type="text" name="duration" placeholder="Duration">
                    <input id="type" class="input-field" type="text" name="type" placeholder="Type">
                </div>
            </form>  
        </div>
        <div class="center">
            <button class="button" id="create-key">Create Key</button>        
            <button class="submit-button" id="delete-all-keys">Delete All Keys</button>
        </div>        

        <div class="form-container">
            <table>
                <tr>
                    <th>Key</th>
                    <th>Actions</th>
                </tr>
                <% keys.forEach(function(key) { %>
                    <tr>
                        <td><%= key.value %></td>
                        <td>
                            <button class="button delete-key" data-key-id="<%= key._id %>">Delete</button>
                        </td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>
    

    <div id="myModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-content"></p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
